*::-webkit-scrollbar {
  width: 0px;
}
body {
  background-color: #e6e6e6;
  text-align: center;
}
body .container {
  display: flex;
  flex-direction: column;
}
body .container .tabela {
  margin: 20px;
  width: 97vw;
  height: 68vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  text-align: center;
}
body .container .tabela .tabela-produtos {
  overflow: auto;
  height: 63vh;
}
body .container .tabela .tabela-produtos table {
  margin: 0;
}
body .container .tabela table {
  margin-top: 10px;
  width: 97vw;
  max-height: 68vh;
  text-align: center;
}
body .container .tabela table tbody {
  max-height: 68vh;
  overflow: auto;
}
body .container .tabela table #codigo,
body .container .tabela table #unitario {
  width: 11vw;
}
body .container .tabela table th,
body .container .tabela table td,
body .container .tabela table tr {
  border-bottom: 1px solid black;
}
body .container .tabela table th {
  font-weight: 600;
}
body .container .tabela table td {
  font-weight: 300;
  letter-spacing: 1px;
}
body .container .tabela table td:frist-child {
  width: 11vw;
}
body .container .entrada {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25vh;
}
body .container .entrada .total {
  margin-top: 3vh;
  background-color: white;
  width: 15vw;
  height: 15vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}
body .container .entrada .total h4 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #146dc7;
  color: white;
}
body .container .entrada .total p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 10vh;
}
body .container .entrada .codigo-de-barra {
  background-color: white;
  width: 20vw;
  height: 15vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}
body .container .entrada .codigo-de-barra h4 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #146dc7;
  color: white;
}
body .container .entrada .codigo-de-barra input {
  border: none;
  width: 19.5vw;
  height: 9.5vh;
  font-size: 2rem;
  text-align: center;
}
body .container .entrada .codigo-de-barra button {
  margin-top: 3vh;
  height: 5vh;
  width: 10vw;
  border: none;
  color: #e6e6e6;
  background-color: #146dc7;
  border-radius: 10px;
  font-size: 1.2rem;
}
body .container .entrada .codigo-de-barra button:hover {
  background-color: #09325c;
}
body .container .entrada .dinheiro {
  background-color: white;
  width: 15vw;
  height: 15vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}
body .container .entrada .dinheiro h4 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #146dc7;
  color: white;
}
body .container .entrada .dinheiro input {
  border: none;
  width: 14.5vw;
  height: 9.5vh;
  font-size: 2rem;
  text-align: center;
}
body .container .entrada .dinheiro button {
  margin-top: 3vh;
  height: 5vh;
  width: 10vw;
  border: none;
  color: #e6e6e6;
  background-color: #146dc7;
  border-radius: 10px;
  font-size: 1.2rem;
}
body .container .entrada .dinheiro button:hover {
  background-color: #09325c;
}
body .container .entrada .subtotal {
  margin-top: 3vh;
  background-color: white;
  width: 15vw;
  height: 15vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}
body .container .entrada .subtotal h4 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #146dc7;
  color: white;
}
body .container .entrada .subtotal p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 10vh;
}
body .container .entrada .link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .container .entrada .link #cancelar {
  color: #e6e6e6;
  font-size: 1.2rem;
  width: 10vw;
  height: 5vh;
  background-color: #db4242;
  border: none;
  border-radius: 5px;
}
body .container .entrada .link #concluir {
  color: #e6e6e6;
  font-size: 1.2rem;
  width: 10vw;
  height: 5vh;
  background-color: #34be42;
  border: none;
  border-radius: 5px;
}
body .container .entrada .link a img {
  width: 30%;
}
